html, body {
	margin: 0;
	background-color: #191C1E;
	font-family: 'Open Sans';
	font-weight: 400;
}
#traffic-list {
	width: 360px;
	margin: 100px auto;
	padding-bottom: 25px;
	overflow: hidden;
	background-color: #212C36;
	color: #FFFFFF;
	box-shadow: 0 0 10px #000000;
}
#traffic-list h2 {
	margin: 0 0 25px 0;
	padding: 0 25px;
	line-height: 60px;
	font-weight: 300;
	font-size: 20px;
	border-bottom: 1px solid #45505A;
}
.traffic-item {
	margin: 0 25px 5px;
	padding: 8px;
	color: #FFFFFF;
	background-color: #45505A;
	border-radius: 4px;
}
.traffic-item img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.traffic-item span {
	line-height: 24px;
	margin-left: 10px;
}
.traffic-item .status {
	float: right;
}
.traffic-item .status.ok {
	color: #7ED321;
}
.traffic-item .status.bad {
	color: #D0021B;
}
.traffic-item .delay {
	float: right;
	font-size: 12px;
}