html, body {
    margin: 0;
    background-color: #191C1E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:#fff;
    overflow: hidden;
}
#board {
    margin: 0 auto;
    padding:20px;
}
#header {
    height:60px;
}
#bordHeader {
 float:right;
}
.widgetBoxSmall, .widgetBoxLarge, #header {
    background-color: #212C36;
    box-shadow: 0 0 10px #000000;
}
.widgetBoxSmall {
    border-radius: 5px;
    width:429px;
    height:430px;
    float:left;
    margin:20px 20px 40px 20px;
    box-sizing:border-box ;
}


.widgetBoxLarge {
    clear:left;
    margin:20px;
    border-radius: 5px;
}
h2 {
    margin:0;
    font-size: 1.38em;
    padding:10px;
    border-bottom: 1px solid #fff;
    font-weight: 300;
}