html, body {
	margin: 0;
	background-color: #191C1E;
	font-family: 'Open Sans';
	font-weight: 400;
	padding-left: 40px;
}

#general h1 {
	font-weight: 300;
	font-size: 40px;
	font-family: 'Open Sans';
	color: white;
}

#general h2 {
	font-weight: 200;
	font-size: 30px;
	font-family: 'Open Sans';
	color: white;
}


#general table {
	color: white;
	background-color: #212C36;
	line-height: 24px;
	margin-left: 10px;
	border-width: 10px;
	height: 10px;
	border-spacing: 10px;
}

#general button{
	background-color: white;
    color: black;
    margin-left: 25px;
}


#general label {
	border-spacing 5px;
	padding 10px;

}