html, body {
	margin: 0;
	background-color: #191C1E;
	font-family: 'Open Sans';
	font-weight: 400;
	color:#fff;
}
ul{
	list-style:none;
}

#header {
	height:45px;
	border-bottom: solid 1px #45505A;
}

#menu{
	height:45px;
	margin:0;
	list-style:none;
}
#menu li{
	height:35px;
	float:left;
	padding:5px 10px;
	border-right:solid 1px #212C36;
}
a, a:visited, a:active{
	color:#fff;
	text-decoration:none;
}

#general h1 {
	font-weight: 300;
	font-size: 40px;
	font-family: 'Open Sans';
	color: white;
}

#general h2 {
	font-weight: 200;
	font-size: 30px;
	font-family: 'Open Sans';
	color: white;
}


#general table {
	color: white;
	background-color: #212C36;
	line-height: 24px;
	margin-left: 10px;
	border-width: 10px;
	height: 10px;
	border-spacing: 10px;
}

#general button{
	background-color: white;
    color: black;
    margin-left: 25px;
}


#general label {
	border-spacing 5px;
	padding 10px;
	display:inline-block;
	width:200px;

}
#general{
	width:800;
	margin:0 auto;
	padding:50px;
}